* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF9lWlp-Rq8R7bY3vbnVcoAvXSH63y8YO4r_O116pK_Hj16a2eaikkaXxYLhkPtKg8dz0&usqp=CAU);
  font-family: Arial;
  padding-right: 15%;
  padding-left: 15%;
  margin: 0.1%;
}

.header {
  background-color: rgb(240, 240, 224);
  box-sizing: border-box;
  float: left;
  position: static;
  width: 50%;
  padding: 3%;
  height: 350px;
  line-height: 1.6;
}
.contacts {
  background-color: rgb(240, 240, 224);
  box-sizing: border-box;
  position: static;
  float: right;
  text-align: right;
  width: 50%;
  padding: 3%;
  height: 350px;
  line-height: 1.6;
}

#block {
  background-color: rgb(240, 240, 224);
  box-sizing: border-box;
  position: static;
  margin-top: 0.1%;
  margin-right: 0.1%;
  float: left;
  width: 49.9%;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  height: 1100px;
  line-height: 1.5;
}

.list {
  list-style-position: inside;
}
